

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_LayoutConfigurationHRF.cshtml";
}

<script src="~/Scripts/angular.js"></script>
<script type="text/javascript" src="~/Scripts/ngDialog.js"></script>
<link href="~/Content/ngDialog.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/ngDialog.css">
<link rel="stylesheet" href="~/Content/ngDialog-theme-default.css">

<script src="~/Scripts/angular-resource.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/App/ConfigurationController.js"></script>

<link href="~/Content/Configuration/css/style.css" rel="stylesheet" />
<link href="http://fonts.googleapis.com/css?family=News+Cycle:400,700" rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">

<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">
<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>

<br />
<div class="body-content">
    <div class="container-dash" ng-app="app" ng-controller="ConfigurationController">
        <br />
        <h2 class="">
            &nbsp; &nbsp;
            <i class="glyphicon glyphicon-dashboard"></i> Dashboard
            <span class="col-md-5 pull-right">
                &nbsp;
                <span class="goldenrod "> <i class="glyphicon glyphicon-briefcase"></i> Budget </span>
                <span class="col-md-offset-1 rosybrown "> <i class="glyphicon glyphicon-ok"></i> Actual </span>
                <span class="col-md-offset-1 yellowgreen "> <i class="glyphicon glyphicon-minus"></i> Shortage </span>
                <span class="col-md-offset-1 blueviolet "> <i class="glyphicon glyphicon-plus"></i> Unallocated </span> @*Exceed*@
            </span>
        </h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <aside class="accordion col-md-12">

                <h1 class="">
                    <i class="glyphicon glyphicon-cog"></i> Operation Mode : <span> Manpower </span>
                    <span class="col-md-4 pull-right">
                        <span class="col-md-offset-1 goldenrod"><i class="glyphicon glyphicon-user"></i> Manpower </span>
                    </span>
                </h1>
                <h1 class="">
                    <i class="glyphicon glyphicon-th-list"> </i> {{companyname}}
                    <span class="col-md-4 pull-right">
                        <span class="col-md-offset-1 goldenrod"><i class="glyphicon glyphicon-briefcase"></i> {{companybudgeted}} </span>
                        <span class="col-md-offset-1 rosybrown"><i class="glyphicon glyphicon-ok"></i> {{companytotal}} </span>
                        <span class="col-md-offset-1 yellowgreen"><i class="glyphicon glyphicon-minus"></i> 00 </span>
                        <span class="col-md-offset-1 blueviolet" ng-click="_openUnallocated(companycode)"><i class="glyphicon glyphicon-plus"></i> {{companyUnallocated}} </span>
                        <input type="hidden" ng-model="companycode" />
                        @*<span class="col-md-offset-1 yellowgreen"><i class="glyphicon glyphicon-minus"></i> {{companyUnallocated}} </span>*@
                    </span>
                </h1>
                @Html.Partial("_PartialCompanies/_MisamiGrarments")
                <h1 class="">   </h1>
            </aside>
            <div class="row col-md-12">
                <span class="col-md-offset-1 col-md-2"> &nbsp; <span id="msg" ng-model="btndisabled" class="btn-danger"></span> &nbsp;</span>
                <button class="col-md-offset-6 col-md-2 btn btn-info-agile pull-right" ng-disabled="btndisabled" ng-model="userstory_software" value="Update" ng-click="save()">
                    <i class="glyphicon glyphicon-refresh"></i> Refesh
                </button>
            </div>

            <br>
            <br>
            <br>
        }

        <br />
        <script type="text/ng-template" id="UnallocatedEmpList_Table">

            <table id="example" class="table table-condensed table-bordered table-striped">
                <tr>
                    <th><input type="button" sections="exportAction" ng-click="exportAction()" /> </th>
                    <th><label> {{companyname}} </label></th>
                </tr>
                <tr>
                    <th> Sr. </th>
                    <th> EmployeeCode </th>
                    <th> EmployeeName </th>
                    <th> Designation </th>
                    <th> Department </th>
                    <th> Remarks </th>
                </tr>
                <tr ng-repeat="e in employees | orderBy : 'Name'">
                    <td>{{ $index+1 }}</td>
                    <td>{{e.EmployeeCode }}</td>
                    <td>{{e.EmployeeName }}</td>
                    <td>{{e.Designation }}</td>
                    <td>{{e.Department }}</td>
                    <td>{{e.EmployeeStatus}} <span ng-show="e.Total > 1"> Total: {{e.Total}}</span></td>
                </tr>
            </table>
        </script>
        <script type="text/ng-template" id="AllocatedEmpList">

            <table id="example" class="table table-condensed table-bordered table-striped">
                <tr>
                    <th><input type="button" sections="exportAction" ng-click="exportAction()" /> </th>
                    <th><label> {{companyname}} </label></th>
                </tr>
                <tr>
                    <th> Sr. </th>
                    <th> EmployeeCode </th>
                    <th> EmployeeName </th>
                    <th> Designation </th>
                    <th> Department </th>
                    <th> Remarks </th>
                </tr>
                <tr ng-repeat="e in employees | orderBy : 'Name'">
                    <td>{{ $index+1 }}</td>
                    <td>{{e.EmployeeCode }}</td>
                    <td>{{e.EmployeeName }}</td>
                    <td>{{e.Designation }}</td>
                    <td>{{e.Department }}</td>
                    <td>{{e.EmployeeStatus}} <span ng-show="e.Total > 1"> Total: {{e.Total}}</span></td>
                </tr>
            </table>
        </script>
    </div>
</div>
<br />

@*<script type="text/javascript">$('select').timezones();</script>*@
@*<script src="~/Content/Configuration/js/jquery.min.js"></script>*@
<script src="~/Content/Configuration/js/index.js"></script>

@*<script type="text/javascript">
    function change(cb) {
        if (cb.checked) {
            $("#" + cb.id + "_Low").prop("checked", true);
        } else {
            $("input[name=" + cb.id + "]").attr("checked", false);
        }
    }
    function changeRB(rb) {
        if (rb.checked) {
            $("#" + rb.name + "").prop("checked", true);
        }
    }
    function _setG(li) {
        var color = $(li).css("background-color");
        var hexcoles = rgb2hex(color);
        $("#StateGreenhidden").val(hexcoles);
        $("#StateGreen").css("background-color", hexcoles);
    }
    function _setR(li) {
        var color = $(li).css("background-color");
        var hexcoles = rgb2hex(color);
        $("#StateRedhidden").val(hexcoles);
        $("#StateRed").css("background-color", hexcoles);
    }
    function _setY(li) {
        var color = $(li).css("background-color");
        var hexcoles = rgb2hex(color);
        $("#StateYellowhidden").val(hexcoles);
        $("#StateYellow").css("background-color", hexcoles);
    }
    function rgb2hex(rgb) {
        rgb = rgb.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
        function hex(x) {
            return ("0" + parseInt(x).toString(16)).slice(-2);
        }
        return "#" + hex(rgb[1]) + hex(rgb[2]) + hex(rgb[3]);
    }


</script>*@

