

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_LayoutConfigurationHRF.cshtml";
}

<script src="~/Scripts/angular.js"></script>
<script type="text/javascript" src="~/Scripts/ngDialog.js"></script>
<link href="~/Content/ngDialog.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/ngDialog.css">
<link rel="stylesheet" href="~/Content/ngDialog-theme-default.css">

<script src="~/Scripts/angular-resource.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/App/ConfigurationController.js"></script>

<link href="~/Content/Configuration/css/style.css" rel="stylesheet" />
<link href="http://fonts.googleapis.com/css?family=News+Cycle:400,700" rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">

<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">
<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>

<br />
<div class="body-content">
    <div class="container-dash" ng-app="app" ng-controller="ConfigurationController">
        <br />
        <h2 class="">
            &nbsp; &nbsp;
            <i class="glyphicon glyphicon-dashboard"></i> Dashboard
            <span class="col-md-4 pull-right" style="padding-left:3px">
                <span class="goldenrod "> Budget </span>
                <span class="col-md-offset-1 rosybrown "> Actual </span>
                <span class="col-md-offset-1 yellowgreen "> Shortage </span>
                <span class="col-md-offset-1 blueviolet "> Excess </span>
                <span class="col-md-offset-1 red"> Unallocated </span>
            </span>
        </h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <aside class="accordion col-md-12">

                <h1 class="">
                    <i class="glyphicon glyphicon-cog"></i> Operation Mode : <span> Manpower </span>
                    <span class="col-md-4 pull-right">
                        <span class="col-md-offset-1 goldenrod">
                            <i class="glyphicon glyphicon-user"></i> Manpower || Group Total: {{GroupTotal}}
                        </span>
                    </span>
                </h1>
                <div class="tarasima">
                    <span class="ng-scope bold"> Companies <i class="glyphicon glyphicon-arrow-down"></i></span>
                </div>
                <span ng-repeat="_C in Companies" class="tarasima">
                    <h1 class="">
                        <i class="glyphicon glyphicon-th-list"> </i> {{_C.CompanyName}}
                        <span class="col-md-4 pull-right">
                            <span class="col-md-offset-1 goldenrod"><i class="glyphicon glyphicon-briefcase"></i> {{_C.Budget}} </span>
                            <span class="col-md-offset-1 rosybrown"><i class="glyphicon glyphicon-ok"></i> {{_C.Actual}} </span>
                            <span class="col-md-offset-1 yellowgreen"><i class="glyphicon glyphicon-minus"></i> {{_C.Shartage | number:2}} </span>
                            <span class="col-md-offset-1 blueviolet"><i class="glyphicon glyphicon-plus"></i> {{_C.Exceed | number:2}} </span>
                            @*<input type="hidden" ng-model="companyname" value="{{_C.CompanyName}}" />
                            <input type="hidden" ng-model="companycode" value="{{_C.CompanyCode}}" />*@
                            <span id="{{_C.CompanyCode}}" title="{{_C.CompanyName}}" ng-click="_openUnallocated($event)" class="pull-right text-center col-md-2 red"><i class="glyphicon glyphicon-edit"></i> {{_C.Unallocated}} </span>
                        </span>
                    </h1>

                    <div class="tarasima">
                        <span class="ng-scope bold"> Division <i class="glyphicon glyphicon-forward"></i></span>
                        <span ng-repeat="d in _C.Divisions" class="ng-scope">
                            <h2 class="glyphicon ng-binding" style="width: 31.25%;">
                                <span class="bold ng-binding" ng-model="division" ng-click="divisionset(alert('hi'))"> {{d.DivisionName}} &nbsp;</span>
                                <span class="pull-right">
                                    <span class="goldenrod"><i class="glyphicon glyphicon-briefcase"></i> {{d.Budget}}</span>
                                    <span class="rosybrown"><i class="glyphicon glyphicon-ok"></i> {{d.Actual}} </span>
                                    <span class="yellowgreen"><i class="glyphicon glyphicon-minus"></i> {{d.Shortage | number:2}} </span>
                                    <span class="blueviolet"><i class="glyphicon glyphicon-plus"></i> {{d.Excess | number:2}}</span>
                                </span>
                            </h2>
                            @*------------------*@
                            <p>
                                <label class="table" style="border-style: solid; border-width: 1px;">
                                    <span class="col-md-2"><span class="glyphicon glyphicon-arrow-down btn btn-info btn-xs"> Units </span> </span>

                                    <span class="col-md-1" style="width: 115px;"> <span style="padding-bottom: 10px;" class="goldenrod glyphicon glyphicon-briefcase"> Budget </span></span>
                                    <span class="col-md-1" style="width: 115px;"> <span style="padding-bottom: 10px;" class="rosybrown glyphicon glyphicon-ok"> Actual </span></span>
                                    <span class="col-md-1" style="width: 120px;"> <span style="padding-bottom: 10px;" class="yellowgreen glyphicon glyphicon-minus"> Shortage </span></span>
                                    <span class="col-md-1" style="width: 115px;"> <span style="padding-bottom: 10px;" class="blueviolet glyphicon glyphicon-minus"> Excess </span></span>
                                    <span class="col-md-1" style="width: 230px;">
                                        @*<input type="hidden" ng-model="comname" value="{{d.CompanyName}}" />
                                        <input type="hidden" ng-model="comcode" value="{{d.CompanyCode}}" />*@
                                        <span id="{{_unit.CompanyCode}}" ng-click="_openUnallocated($event)" style="padding-bottom: 10px;" class="red glyphicon glyphicon-edit" > {{_C.Unallocated}} </span>
                                    </span>
                                    <span class="col-md-1"><a class="btn btn-info btn-xs" href=""> Action </a></span>
                                </label>
                                <span ng-repeat="_unit in d.Units">
                                    <label ng-if="1" class="table" style="border-style: solid; border-width: 1px;">
                                        <span class="col-md-2 td-left" style="margin: 5px">{{_unit.UnitName}} </span>

                                        <span class="col-md-offset-1 col-md-1 td" style="margin: 5px"> {{_unit.Budget | number:2}} </span>
                                        <span class="col-md-offset-1 col-md-1 td" style="margin: 5px"> {{_unit.Actual | number:2}} </span>
                                        <span class="col-md-offset-1 col-md-1 td" style="margin: 5px"> {{_unit.Shortage | number:2}} </span>
                                        <span class="col-md-offset-1 col-md-1 td" style="margin: 5px"> {{_unit.Excess | number:2}} </span>
                                        <span class="col-md-offset-1 col-md-1 td" style="margin: 5px"> {{_unit.Unallocated | number:2}} </span>
                                        <span class="col-md-offset-1 col-md-1 td-btn">
                                            <input type="hidden" ng-model="companycode" />
                                            <input type="hidden" ng-model="unallocated" value="{{_unit.Unallocated | number:2}}" />
                                            <a id="{{_unit.UnitId}}" ng-click="OpenngDiologValidation_Dept(companycode, $event)" class="btn btn-info btn-xs"> Show Unit Details </a>
                                        </span>
                                    </label>
                                </span>

                            </p>
                            @*-----------------*@
                        </span>
                    </div>
                </span>
                @*@Html.Partial("_PartialCompanies/_MisamiGrarments")*@


                <h1 class="">
                    <i class="glyphicon glyphicon-th-list"> </i> {{companyname}}
                    <span class="col-md-4 pull-right">
                        <span class="col-md-offset-1 goldenrod"><i class="glyphicon glyphicon-briefcase"></i> {{companybudgeted}} </span>
                        <span class="col-md-offset-1 rosybrown"><i class="glyphicon glyphicon-ok"></i> {{companytotal}} </span>
                        <span class="col-md-offset-1 yellowgreen"><i class="glyphicon glyphicon-minus"></i> 00 </span>
                        <span class="col-md-offset-1 blueviolet"><i class="glyphicon glyphicon-plus"></i> 00 </span>
                        <input type="hidden" ng-model="companycode" />
                        <span class="pull-right text-center col-md-2 red" ng-click="_openUnallocated(companycode)"><i class="glyphicon glyphicon-edit"></i> {{companyUnallocated}} </span>
                    </span>
                </h1>
                @Html.Partial("_PartialCompanies/_MisamiGrarments")
                <h1 class=""> </h1>
            </aside>
            <div class="row col-md-12">
                <span class="col-md-offset-1 col-md-2"> &nbsp; <span id="msg" ng-model="btndisabled" class="btn-danger"></span> &nbsp;</span>
                <button class="col-md-offset-6 col-md-2 btn btn-info-agile pull-right" ng-disabled="btndisabled" ng-model="userstory_software" value="Update" ng-click="save()">
                    <i class="glyphicon glyphicon-refresh"></i> Refesh
                </button>
            </div>

            <br>
            <br>
            <br>
        }

        <br />
        <script type="text/ng-template" id="UnallocatedEmpList_Table">

            <table id="example" class="table table-condensed table-bordered table-striped">
                <tr>
                    @*<th><input type="button" sections="exportAction" ng-click="exportAction()" /> </th>*@
                    <label > {{employees[1].CompanyName}} || Total: {{employees.length}}</label>
                </tr>
                <tr>
                    <th> Sr. </th>
                    <th> EmployeeCode </th>
                    <th> EmployeeName </th>
                    <th> Designation </th>
                    <th> Department </th>
                    <th> Remarks </th>
                </tr>
                <tr ng-repeat="e in employees | orderBy : 'Name'">
                    <td>{{ $index+1 }}</td>
                    <td>{{e.EmployeeCode }}</td>
                    <td>{{e.EmployeeName }}</td>
                    <td>{{e.Designation }}</td>
                    <td>{{e.Department }}</td>
                    <td>{{e.EmployeeStatus}} <span ng-show="e.Total > 1"> Total: {{e.Total}}</span></td>
                </tr>
            </table>

        </script>
        <script type="text/ng-template" id="AllocatedEmpList">

            <table id="example" class="table table-condensed table-bordered table-striped">
                <tr>
                    @*<th><input type="button" sections="exportAction" ng-click="exportAction()" /> </th>*@
                    <th><label> {{companyname}} </label></th>
                </tr>
                <tr>
                    <th> Sr. </th>
                    <th> EmployeeID </th>
                    <th> EmployeeName </th>
                    <th> Designation </th>
                    <th> Line </th>
                    <th> Remarks </th>
                </tr>
                <tr ng-repeat="e in employees | orderBy : 'Name'">
                    <td>{{ $index+1 }}</td>
                    <td>{{e.EmployeeCode }}</td>
                    <td>{{e.EmployeeName }}</td>
                    <td>{{e.Designation }}</td>
                    <td>{{e.Line }}</td>
                    <td>{{e.EmployeeStatus}} </td>
                </tr>

            </table>

        </script>
    </div>
</div>
<br />

<script src="~/Content/Configuration/js/index.js"></script>

