
<p>
    @*<span class="ng-scope bold">
            <i class="glyphicon glyphicon-arrow-down"></i>
        </span>*@
    <label class="table" style="border-style: solid; border-width: 1px;">
        <span class="col-md-2"> <i class="glyphicon glyphicon-arrow-down"></i> Units </span>
        <span class="col-md-2" style="width: 230px;"> <i class="glyphicon glyphicon-briefcase"></i> Budget </span>
        <span class="col-md-2"> <i class="glyphicon glyphicon-ok"></i> Actual </span>
        <span class="col-md-2"> <i class="glyphicon glyphicon-minus"></i> Shortage </span>
        <span class="col-md-2" style="width: 230px;"> <i class="glyphicon glyphicon-minus"></i> Exceed </span>
        <span class="col-md-1 td-btn"><a class="btn btn-info btn-xs" href=""> Action </a></span>
    </label>
    <span data-ng-repeat="_unit in _units">
        <label ng-if="1" class="table" style="border-style: solid; border-width: 1px;">
            <span class="col-md-2 td-left" style="margin: 5px">{{_unit.UnitName}} </span>
            <span class="col-md-offset-1 col-md-2 td" style="margin: 5px">{{_unit.UnitBudget}}| 0 </span>
            <span class="col-md-offset-1 col-md-2 td" style="margin: 5px">{{_unit.UnitTotal}} </span>
            <span class="col-md-offset-1 col-md-2 td" style="margin: 5px">{{_unit.name}} </span>
            <span class="col-md-offset-1 col-md-2 td" style="margin: 5px">{{_unit.name}} </span>
            <span class="col-md-1 td-btn">
                <input type="hidden" ng-model="companycode" />
                <a class="btn btn-info btn-xs" href="" title="" ng-click="OpenngDiologValidation_Dept(companycode)">{{val}} Show Unit Details </a>
            </span>
        </label>
    </span>
</p>

<script type="text/ng-template" id="Validation_Table">

    <table style="margin-top: 0px !important;" class="table table-condensed table-bordered table-striped">
        <thead>
            <tr>
                <label> {{companyname}} </label>
            </tr>
        </thead>
        <thead>
            <tr>
                <th class=""> Sr. </th>
                <th class=""> DeptName </th>
                <th class=""> DeptTotal </th>
                <th class=""> Sections </th>

                @*<th ng-repeat="c in cols">{{c}}</th>*@
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="dept in departments">
                <td>{{$index+1}} </td>
                <td ng-repeat="sections in dept" ng-init="isArr = isArray(sections)">
                    <table ng-if="isArr" class="table table-condensed table-bordered table-striped" style="margin-bottom:0px">
                        <thead>
                            <tr>
                                <td>
                                    <button style="width: 20px;" ng-click="expanded = !expanded" expand><span ng-bind="expanded ? '-' : '+'"></span></button>
                                </td>
                                <th ng-repeat="(sh, sv) in sections[0]">{{sh}}</th>
                                <td> SubSectons </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="sub in sections" ng-show="expanded">
                                <td> {{$index+1}}</td>
                                <td ng-repeat="(sk, sv) in sub">{{sv}}</td>
                                <td>
                                    @*Here SubSection Table*@
                                    <table ng-if="isArr" class="table table-condensed table-bordered table-striped" style="margin-bottom:0px">
                                        <thead>
                                            <tr>
                                                <td>
                                                    <button style="width: 20px;" ng-click="expandedss = !expandedss" expand><span ng-bind="expandedss ? '-' : '+'"></span></button>
                                                </td>
                                                <th ng-repeat="(sh, sv) in sections[0]">{{sh}}</th> @*here will be sebsection*@
                                                <td> SubSectons </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="sub in sections" ng-show="expandedss"> @*here will be sebsection*@
                                                <td> {{$index+1}}</td>
                                                <td ng-repeat="(sk, sv) in sub">{{sv}}</td>
                                                <td> SubSecton {{$index+1}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <span ng-if="!isArr">{{sections}}</span>
                </td>
            </tr>
        </tbody>
    </table>




    @*<h2 class="h2 text-center"> Table Demo </h2>
        <br />*@
    @*<table id="example" class="table table-condensed table-bordered table-striped export-table">
            <tr>
                <th><input type="button" sections="exportAction" ng-click="exportAction()" /> </th>
                <th><label> {{companyname}} </label></th>
            </tr>
            <tr>
                <th> Sr. </th>
                <th> Budget Code </th>
                <th> DeptId </th>
                <th> DeptName </th>
                <th> DeptTotal </th>
                <th> Line </th>
                <th> Desig. </th>
                <th> Budget </th>
                <th> Act </th>
                <th> Access </th>
                <th> Short  </th>
                <th> Remarks </th>
            </tr>
            <tr ng-repeat="x in departments | orderBy : 'Country'">
                <td class="center "><img id="{{ $index+1 }}" ng-click="toggleChildRow($event)" src="http://i.imgur.com/SD7Dz.png"></td>
                <td>{{ $index+1 }}</td>
                <td>{{ x.BudgetCode }}</td>
                <td>{{ x.DeptId }}</td>
                <td>{{ x.DeptName }}</td>
                <td>{{ x.DeptTotal }}</td>
                <td>{{ x.Name }}</td>
                <td>{{ x.Country }}</td>
                <td>{{ x.Name }}</td>
                <td>{{ x.Country }}</td>
                <td>{{ x.Country }}</td>
                <td>{{ x.Country }}</td>
                <td> </td>
            </tr>

        </table>*@


</script>





